<br><br>

<center>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="box">

      <article role="ohs"  class="text-center">
          <header>
            회원가입
          </header>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <article role="login">
              <h3 class="text-center"><i class="fa fa-lock"></i>Sign_Up</h3>
              <form class="signup" action="index.html" method="post">
                <div class="form-group">
                  <div class="field">
    <%= f.label :이메일 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
                </div>
                
                <div class="form-group">
                   <div class="field">
    <%= f.label :비밀번호 %>
    <% if @minimum_password_length %>
    
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div></div>
  
  <div class="form-group">
                    <div class="field">
    <%= f.label :비밀번호확인 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div></div>
                <div class="actions">
    <button type="submit" style="background-color:#23bab5;border:#23bab5"class="btn btn-warning btn1">회원가입</button>
    
    <br><a href="/users/sign_in">로그인할래요</a>
  </div>
  <!--             <div class="actions">-->
                 
  <!--  <%= f.submit "Sign up" %>-->
  <!--</div>--> </form>
        </article>
      </article>

      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div><% end %>
