<script>
function please(){
    alert("비밀번호 변경이 완료되었습니다!");
  
}
</script><!DOCTYPE html>
<html>
<head>
  <title>MY PAGE</title>
  <link rel="stylesheet" href="assets\mypage.css">
</head>

<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<br><center><h1 style="color:#23bab5">내 정보 뷰</h1></center>


<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="box">

      <article role="ohs"  class="text-center">
          <header>
            비밀번호 변경
          </header>
        <article role="login">
              <h3 class="text-center"><i class="fa fa-lock"></i> Change User Password</h3>
              <form class="signup" action="/sizingreal/update/<%= current_user.id%>" method="post">
                <div class="form-group">
                 
                </div>
                <div class="form-group">
                   <input type="password" name="changepw" class="form-control pw" placeholder="변경 비밀번호">
                </div>
                <div class="form-group">
                   
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-success"  value="비밀번호 변경" name="pwsubmit" onclick="please()">
                </div>
              </form>
        </article>
      </article>

      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div>
</div>




<!--내사이즈변경-->


<div class="container sizechange">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="box">
        
            <article role="manufacturer"  class="text-center">
                <header>
                  내 사이즈 변경
                </header>
                <form action="/sizingreal/update/<%= current_user.id%>" method="post">
                <ul class="text-left">
                
                  <li><i class="fa fa-check"></i> 총장<input type="number" name="length" step=".01" class="form-control size" value="<%=current_user.length%>"> </li>
                  <li><i class="fa fa-check"></i> 허리 단면<input type="number" name="waist" step=".01" class="form-control size" value="<%=current_user.waist%>"></li>
                  <li><i class="fa fa-check"></i> 허벅지 단면<input type="number" name="thigh" step=".01" class="form-control size" value="<%=current_user.thigh%>"></li>
                  <li><i class="fa fa-check"></i> 밑위<input type="number" name="rise" step=".01" class="form-control size" value="<%=current_user.rise%>"></li>
                  <li><i class="fa fa-check"></i> 밑단 단면<input type="number" name="tail" step=".01" class="form-control size" value="<%=current_user.tail%>"></li>
                  
                </ul>
                   <input type="submit" name="pwsubmit" value="내 사이즈 변경" style="margin-top:15px" class="btn btn-success">
                   </form>
            </article>
            
      </div>
    </div>
    
    <div class="col">
    </div>
  </div>
</div>
<center><p><a href="/sizingreal/input"> 입력 뷰로 이동! </a></p></center>


  
  
</body>
</html>
