<style>
@font-face {
  font-family: 'Hanna';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot);
  src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff) format('woff'),
       url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.ttf) format('truetype');
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script language="javascript">
function one(){
 document.getElementById("svg22").style.display='none';
 document.getElementById("svg11").style.display='block';
}
function two(){
 document.getElementById("svg11").style.display='none';
 document.getElementById("svg22").style.display='block';
}

</script>

<%
# 첫번째 버튼
@StartXpos = 30
@StartYpos = 1

@Heap_left = -28

@length = 217 * @diff_length

@waist_height = 72 * @diff_length
@waist_width = 32 * @diff_waist

@tail = 45 * @diff_tail

@thigh = 3 * @diff_thigh

@rise = (180 * @diff_length)





# 두 번째 버튼
@StartXpos2 = 30
@StartYpos2 = 1

@Heap_left2 = -28

@length2 = 217 * @diff_length2

@waist_height2 = 72 * @diff_length2
@waist_width2 = 32 * @diff_waist2

@tail2 = 45 * @diff_tail2

@thigh2 = 3 * @diff_thigh2

@rise2 = (180 * @diff_length2) - (40 * @diff_rise2)

# 값이 오를 때 y 좌표가 올라감
%>
<!--
heap 엉덩이

length 총장

waist 허리

thigh 허벅지

rise 밑위

tail 밑단
-->

<style>

  .svg_pants
  {
  }
  *{
      font-family:hanna;
  }
  th,td{
      text-align:center;
  }
</style>

<br><br><br>

<center>
    <h1 style="color:#23bab5"><b>사이즈를 보여드립니다</b></h1>
</center>

<center><p> <a href="/sizingreal/input"> ! 다시 비교해보기 ! </a></p></center>
<hr><br>
<center><p>*본인이 입력하셨던 값 이름을 눌러 사이즈를 비교하세요!</p></center>

<center><div class="btn-group" role="group" aria-label="...">
  <button type="button" onclick="one()" value="첫 바지" class="btn btn-default"><% @hash_first_size.each do |k, v| %><%=v%>
<% end %></button>
  <button type="button" onclick="two()" value="둘 바지" class="btn btn-default"><% @hash_second_size.each do |k, v| %><%=v%>
<% end %></button>
<div>
<div style="position:static">



  </center>
<br><hr>

<div>
    <img src="/assets/size_low.png" style="margin-top: 80px; margin-left: auto; margin-right: auto; display: block; position :relative"/>
    
</div>
<!-- <%=106-@minus_waist1%> -->
    <div style="margin-top: -340px; margin-left :<%= @jean_ML1%>px;">
        <svg width="270" height="340" id="svg11" display="none" style="margin-left: auto; margin-right: auto; position :relative">
            <g>
                <path stroke="black"
                d="m<%=@StartXpos%>,
                <%=@StartYpos%>l<%=@Heap_left%>,
                <%=@waist_height%>l<%=@thigh%>,
                <%=@length%>l<%=@tail%>,
                0l<%=@waist_width%>,
                -<%=@rise%>l<%=@waist_width%>,
                <%=@rise%>l<%=@tail%>,
                0l<%=@thigh%>,
                -<%=@length%>l-<%=@StartXpos%>,
                -<%=@waist_height%>"
                stroke-width="3" fill="white" style="opacity :0.5;"/>
            </g>
        </svg>
        </div>
        
    
    <div style="margin-top: -340px; margin-left :<%= @jean_ML2%>px;">
        <svg width="270" height="340" id="svg22" display="none" style="margin-left: auto; margin-right: auto; position :relative">
 <g>
  <path stroke="black"
    d="m<%=@StartXpos%>,
    <%=@StartYpos%>l<%=@Heap_left2%>,
    <%=@waist_height2%>l<%=@thigh2%>,
    <%=@length2%>l<%=@tail2%>,
    0l<%=@waist_width2%>,
    -<%=@rise2%>l<%=@waist_width2%>,
    <%=@rise2%>l<%=@tail2%>,
    0l<%=@thigh2%>,
    -<%=@length2%>l-<%=@StartXpos%>,
    -<%=@waist_height2%>"
    stroke-width="3" fill="white" style="opacity :0.5;"/>
 </g>
</svg>
    </div>

</div>
</div>
<!--
heap 엉덩이

length 총장

waist 허리

thigh 허벅지

rise 밑위

tail 밑단
-->
<center>
<table class="table table-striped table-bordered table-hover" style="color:#23bab5;width:60%;margin-top:130px">
        <!-- <caption>전 화면에서 입력한 값을 넣어주고 싶음....밑에 값들을!!! 표에어떻게넣어 ㅠㅠ</caption> -->
        <thead>
            <tr>
                <th></th>
                <th>이름</th>
                <th>총장</th>
                <th>허리</th>
                <th>허벅지</th>
                <th>밑위</th>
                <th>밑단</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>버튼1</td>
                <td><% @hash_first_size.each do |k, v| %><%=v%><% end %></td>
                <% @hash_jean_size.each do |k, v| %>
                <td> <%= v %></td>
                <% end %>
            </tr>
            <tr>
                <td>버튼2</td>
                <td><% @hash_second_size.each do |k, v| %><%=v%><% end %></td>
                <% @hash_jean_size2.each do |k, v| %>
                <td> <%= v %></td>
                <% end %>
            </tr>
        
        </tbody>
    </center></table></div>

<!--사이즈를 알기 위함 s,m,l구분!!-->

<!--<% @hash_first_size.each do |k, v| %>-->
<!--  <p><%=v%> </p>-->
<!--<% end %>-->

<!--<% @hash_jean_size.each do |k, v| %>-->
<!--  <p> <%=k%> = <%=v%> </p>-->
<!--<% end %>-->
<!--<br>-->


<!--<% @hash_second_size.each do |k, v| %>-->
<!--  <p><%=v%> </p>-->
<!--<% end %>-->

<!--<% @hash_jean_size2.each do |k, v| %>-->
<!--  <p> <%=k%> = <%=v%> </p>-->
<!--<% end %>-->
<!--<br>-->

<!--<% @hash_my_size.each do |k, v| %>-->
<!--  <p> <%=k%> = <%=v%> </p>-->
<!--<% end %>-->

<!--<p><%= @diff_length %></p>-->
<!--<p><%= @diff_waist %></p>-->
<!--<p><%= @diff_thigh %></p>-->
<!--<p><%= @diff_rise %></p>-->
<!--<p><%= @diff_tail %></p>-->
